@import "variables";

@mixin typography-h1 {
    font-family: $OpenSans;
    font-weight: bold;
    font-style: normal;

    font-size: 18px;
    line-height: 24px;
    margin: 0;

    @media (min-width: 768px ) {
        font-size: 30px;
        line-height: 36px;
    }

    @media (min-width: 1200px ) {
        font-size: 40px;
        line-height: 48px;
    }
}

@mixin typography-h2 {
    font-family: $Roboto;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.5px;

    font-size: 30px;
    line-height: 36px;

    @media (min-width: $tablet ) {
        font-size: 38px;
        line-height: 40px;
    }

    @media (min-width: $desktop ) {
        font-size: 34px;
        line-height: 40px;
    }
}