@import "normalize.css/normalize";

// utils
@import "./utils/typography";
@import "./utils/variables";
@import "./utils/fonts";

// components

.landing-precision {
    font-family: $OpenSans;
    max-width: 1920px;
    margin: 0 auto;

    font-weight: normal;
    font-size: 16px;
    line-height: 24px;


}

.container {
    width: 100%;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;

    @media (min-width: 1440px) {
        padding-left: 72px;
        padding-right: 72px;
    }
}

.landing-precision__title {
    @include typography-h1;
    color: $blue;
    text-transform: uppercase;
}

picture {
    display: flex;
}
.landing-precision-banner {
    width: 100%;
    &__picture {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.landing-precision-selection {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    @media (min-width: 1920px) {
        padding: 80px 0;
    }

    &__title {
        text-align: center;
        font-weight: bold;
        color: $blue;
        font-size: calc(1rem + 2.4vw);
        line-height: 1.25;
        margin: 0;
        span {
            @media (min-width: 1200px) {
                font-weight: normal;
            }
        }
    }

    &__subtitle {
        font-size: calc(1rem + 3.4vw);
        line-height: 1.1;
        font-weight: bold;
        text-transform: uppercase;
        color: $blue;
        margin: 0;

        @media (min-width: 500px) {
            font-size: calc(1rem + 4vw);
        }
    }

    &__img {
        width: 100%;
        
        margin: 20px 0;
        max-width: 452px;

        @media (min-width: 1024px) {
            max-width: none;
            width: 50vw;
        }
    }
}

.landing-precision-what {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    margin:  0 auto;

    @media (min-width: 500px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        position: relative;
        background: linear-gradient(175deg, #EFF4F9 40%, rgba(255,255,255,0) 40%);

        @media (min-width: 500px) {
            background: linear-gradient(100deg, #EFF4F9 50%, rgba(255,255,255,0) 50%);
        }
    }

    &__fon {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        max-height: 65%;

        @media (min-width: 500px) {
            max-height: 100%;
        }
    
        img {
          width: 100%;
          height: 100%;
          flex-shrink: 0;
        }
    }

    &__title {
        margin: 0 0 80px 0;
        font-weight: bold;
        color: $blue;
        font-size: 18px;
        line-height: 1.33;

        @media (min-width: 500px) {
            margin: 0;
            font-size: calc(1rem + 2.9vw);
            line-height: 1.33;
        }
        
        span {
            font-size: 36px;
            line-height: 40px;

            @media (min-width: 500px) {
                font-size: calc(1rem + 4.3vw);
                line-height: 1.2;
            }
        }
    }

    &__img {
        width: 100%;
    }
}

.landing-precision-application {
    padding: 60px 0;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media (min-width: 1024px) {
        flex-wrap: nowrap;
        margin: 0 -25px;
    }

    &__wrapper {
        position: relative;
        background: linear-gradient(175deg, #CEDDEC 50%, rgba(255,255,255,0) 50%);

        @media (min-width: 1024px) {
            background: linear-gradient(260deg, #CEDDEC 65%, rgba(255,255,255,0) 65%);
        }
    }

    &__fon {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        max-height: 55%;

        @media (min-width: 500px) {
            max-height: 100%;
        }
    
        img {
          width: 100%;
          height: 100%;
          flex-shrink: 0;
        }
    }

    &__item {
        background: #FFFFFF;
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        padding: 40px 24px;
        box-sizing: border-box;
        
        margin-bottom: 40px;

        @media (min-width: 768px) {
            margin: 15px;
            width: calc(50% - 30px);
        }

        @media (min-width: 1024px) {
            margin: 0 1.4%;
            padding: 2.2% 1.1%;
            width: calc(25% - 1.4%);
        }

        &--1 {
            color: #6F6AA8;
        }
        &--2 {
            color: #4FBBA4;
        }
        &--3 {
            color: #882D88;
        }
        &--4 {
            color:#003595;
        }

        &:last-of-type {
            @media (min-width: 1024px) {
                margin-bottom: 0;
            }
        }

        &-header {
            // display: flex;
            // align-items: center;
            // margin-bottom: 20px;

            @media (min-width: 1024px) {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 7.7%;
            }
        }

        &-title {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 32px;
            margin: 0;

            @media (min-width: 1024px) {
                font-size: calc(1rem + 1.13vw);
                line-height: 1.2;
            }
        }
        
        &-picture {
            align-self: center;
        }

        &-img {
            max-width: 72px;
            flex-shrink: 0;
            margin: 0 auto 25px auto;

            @media (min-width: 1024px) {
                max-width: none;
                width: 8.6vw;
                margin: 0 auto 30px auto;
            }
        }

        &-text {
            margin: 0;
            @media (min-width: 1024px) {
                font-size: calc(1rem + 0.40vw);
                line-height: 1.33;
            }
        }
    }
}

.landing-precision-block {
    max-width: 1544px;
    margin:  0 auto;

    @media (min-width: 500px) {
        display: flex;
        align-items: center;
        padding: 40px 0;
    }

    @media (min-width: 1920px) {
        padding: 80px 0;
    }
    
    &__wrapper {
        position: relative;

        @media (min-width: 500px) {
            background: linear-gradient(90deg, #fff 50%, rgba(255,255,255,0) 50%);

            &--2 {
                background: linear-gradient(270deg, #fff 50%, rgba(255,255,255,0) 50%);

                .landing-precision-block {
                    flex-direction: row-reverse;
                    max-width: 100%;
                }
            }
        }
    }
    
    &__fon {
        display: none;

        @media (min-width: 500px) {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            max-height: 100%;
        }
    
        img {
          width: 100%;
          height: 100%;
          flex-shrink: 0;
        }
    }

    &__description {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        padding: 60px 24px;
        box-sizing: border-box;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/bg-block-mob-1@2x.png);



        &--2 {
            background-image: url(../img/bg-block-mob-2@2x.png);
        }

        &--3 {
            background-image: url(../img/bg-block-mob-3@2x.png);
            
            @media (min-width: 500px) {
                width: 58%;
                padding: 0;
                display: flex;
                justify-content: flex-end;
            }
        }

        @media (min-width: 500px) {
            background-image: none;
            width: 50%;
            flex-shrink: 0;
            margin: 0;
            padding: 0 20px;
        }

        @media (min-width: 768px) {
            padding-left: 10%;

            &--2 {
                padding-left: 0;

                .landing-precision-block__description-item {
                    max-width: none;
                    padding-left: 7%;
                    padding-right: 16%;
                }
            }
        }

        &-item {
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            max-width: 270px;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media (min-width: 1200px) {
                max-width: 487px;
            }
        }

    }

    &__grade {
        max-width: 494px;
        width: 58%;
        margin: 60px auto;
        img {
            width: 100%;
        }

        @media (min-width: 500px) {
            max-width: none;
            width: 50%;
            margin: 0;
            justify-content: center;
            align-items: center;

            img {
                width: 80%;
                max-width: 315px;
            }
        }

        @media (min-width: 1200px) {
            img {
                max-width: none;
                width: 30vw;
                margin: 0 auto;
            }
        }

        @media (min-width: 1650px) {
            img {
                margin: 0 auto 0 0;
            }
        }
    }

    &__stats {
        width: 100%;
        max-width: 494px;
        margin: 60px auto;

        img {
            width: 85%;
            margin: 0 auto;
        }

        @media (min-width: 500px) {
            max-width: none;
            width: 50%;
            margin: 0;
            justify-content: center;
            align-items: center;

            img {
                width: 43vw;
                max-width: none;
            }
        }
    }

    &__title {
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0 0 20px 0;

        @media (min-width: 1200px) {
            font-size: 40px;
            line-height: 48px;
            margin: 0 0 16px 0;
        }

        span {
            font-size: 40px;
            line-height: 48px;
        }

        &--more {
            font-size: 36px;
            line-height: 48px;

            span {
                font-size: 54px;
                line-height: 48px;
            }
            @media (min-width: 1024px) {
                font-size: calc(1rem + 4.3vw);
                line-height: 1.1;
                font-weight: normal;
                
                span {
                    font-size: calc(1rem + 7.4vw);
                    line-height: 0.69;
                    font-weight: bold;
                }
            }
        }
    }

    &__text {
        color: #fff;
        margin: 0;

        @media (min-width: 1200px) {
            font-size: 40px;
            line-height: 48px;
        }
    }
}

.landing-precision-stats {

    
    @media (min-width: 1024px) {
        display: flex;
        align-items: center;
        padding: 40px 0;
    }

    @media (min-width: 1200px) {
        padding: 80px 0;
    }

    &__wrapper {
        position: relative;

        @media (min-width: 1024px) {
            background: linear-gradient(100deg,#fff 42%,rgba(255,255,255,0) 42%);
        }
    }

    &__fon {
        display: none;

        @media (min-width: 1024px) {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            max-height: 100%;
        }
    
        img {
          width: 100%;
          height: 100%;
          flex-shrink: 0;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        text-transform: uppercase;
        color: $blue;
        margin: 60px 0;
        

        span {
            font-size: 40px;
            line-height: 48px;
        }

        @media (min-width: 500px) {
           text-align: center;
        }

        @media (min-width: 1024px) {
            margin: 0;
            text-align: left;
            font-size: calc(1rem + 1.5vw);
            line-height: 1.5;
            text-transform: initial;

            span {
                font-size: calc(1rem + 3.9vw);
                line-height: 1.15;
            }
        }
    }

    &__description {
        padding: 60px 24px;
        box-sizing: border-box;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/bg-block-mob-3@2x.png);
        width: 100vw;
        margin-left: calc(-50vw + 50%);

        @media (min-width: 500px) {
            display: flex;
            justify-content: center;
        }

        @media (min-width: 1024px) {
            background-image: none;
            flex-shrink: 0;
            margin: 0;
            width: 58%;
            padding: 0;
            display: flex;
            justify-content: center;
        }

        @media (min-width: 1600px) {
            justify-content: flex-end;
            margin-left: auto;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;

            &:last-of-type {
                margin: 0;
            }
            @media (min-width: 500px) {
                max-width: 250px;
                margin: 0;
            }

            @media (min-width: 1024px) {
                max-width: 270px;
                margin: 0 24px 0 0;

                &:last-of-type {
                    margin: 0;
                }
            }

            @media (min-width: 1200px) {
                max-width: 500px;
                align-items: center;
            }
        }

        &-text {
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            margin: 0;
            text-align: center;

            strong {
                text-transform: uppercase;
                font-size: 24px;
                line-height: 32px
            }

            @media (min-width: 1200px) {
                font-size: calc(1rem + 1.1vw);
                line-height: 1.33;
                text-align: center;

                strong {
                    text-transform: uppercase;
                    font-size: calc(1rem + 1.1vw);
                    line-height: 1.33;
                }
            }
        }

        &-img {
            width: 136px;
            margin: 0 auto 20px auto;

            @media (min-width: 1200px) {
                width: 14vw;
            }
        }
    }
}

.landing-precision-footer {
    padding: 40px 0;
    max-width: 1582px;
    margin: 0 auto;

    &__footnote {
        font-size: 10px;
        line-height: 10px;
        color: #8C9199;
        margin: 0 0 40px 0;

        @media (min-width: 1440px) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__contraindications {
        font-size: 16px;
        line-height: 18px;
        color: #8C9199;
        text-transform: uppercase;
        margin: 0;

        @media (min-width: 1440px) {
            font-size: 33px;
            line-height: 1;
        }
    }
}

